<h1>Unsubscribed</h1>
<p>Thank you <%= @user.name %>, you will no longer receive bundled email notifications.</p>
<p>You can <%= link_to "re-enable notifications here", notifications_settings_path %>.</p>
