<% if eventable&.has_attachments? %>
  <span class="event_attachments margin-block-half flex align-center gap-half">
    <% eventable.attachments.each do |attachment| %>
      <% if attachment.representable? %>
        <%= image_tag attachment, class: "attachment attachment--image" %>
      <% else %>
        <div class="attachment attachment--file attachment--<%= attachment.filename.extension -%>">
          <span class="attachment__icon"><%= attachment.filename.extension&.downcase.presence || "unknown" %></span>
        </div>
      <% end %>
    <% end %>
  </span>
<% end %> 