@layer components {
  .bar {
    --row-gap: 0.2lh;

    background-color: var(--color-terminal-bg);
    color: var(--color-terminal-text);
    font-family: var(--font-mono);
    font-size: 0.9em;
    inset: auto 0 0 0;
    max-block-size: 100%;
    padding: var(--block-space) calc(var(--tray-size) + calc(var(--inline-space) * 3)) calc(var(--block-space) + env(safe-area-inset-bottom));
    position: fixed;
    z-index: var(--z-terminal);

    @media (prefers-color-scheme: dark) {
      border-block-start: 1px solid var(--color-ink-lighter);
    }
  }

  .bar__modal {
    inset: auto 0 0 0;
    bottom: 0;
    left: 0;
    max-height: 70vh;
    position: fixed;
    right: 0;
    width: 100%;
  }
}
