.notification-tray {
  position: fixed;
  width: 40ch;
  bottom: 1rem;
  left: calc(50% - 20ch);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notification {
  background-color: #eeed;
  border-radius: 6px;
  padding: 0.5rem;
}
