.projects {
  --gap: 2cqi;
  --hover-size: 0;
  --column-gap: var(--gap);
  --row-gap: var(--gap);

  list-style: none;
  padding: var(--gap);
}

.project__windshield {
  --border-radius: 1.5em;

  margin-block: 0;
  max-inline-size: 100%;
  padding: 1cqi;
}

.windshield__link {
  content: "";
  inset: 0;
  overflow: hidden;
  padding-block-start: 100%;
  position: absolute;
  z-index: 1;
}

.windshield__container {
  aspect-ratio: 16 / 9;
  container-type: inline-size;
  inline-size: 50ch;
}
