@layer components {
  .theme-switcher {
    @media (max-width: 479px) {
      --row-gap: 1ch;

      flex-direction: column;
    }
  }

  .theme-switcher__btn {
    --btn-background: var(--color-ink-lightest);
    --btn-border-radius: 0.4em;
    --btn-border-size: 0;
    --btn-gap: 0.3lh;
    --icon-size: 2em;

    flex: 1;
    flex-direction: column;
    position: relative;
    white-space: nowrap;

    &[aria-selected="true"] {
      background-color: var(--color-selected);

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--color-selected);
        }
      }
    }

    @media (max-width: 479px) {
      flex-direction: row;
    }
  }
}
