@layer components {
  .welcome-letter {
    position: relative;
    z-index: 99;
  }

  .welcome-letter__close {
    inset: var(--block-space) var(--block-space) auto auto;
    position: absolute;
  }

  .welcome-letter__signature {
    background-color: currentColor;
    block-size: 3em;
    display: inline-block;
    inline-size: 8em;
    mask-image: url("jf-signature.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 8em 3em;
  }
}
